* {
  position: relative;
}

body {
  font-family: "Century Gothic";
}

table {
  border-collapse: collapse;
}

td {
  border: 3px dashed #bbb;
  padding: 3px 3px 0 3px;
  width: 94px;
  height: 94;
  z-index: -2;
}

.number, .move {
  text-shadow: 2px 2px 3px #bbb;
}

.number {
  font-family: Impact;
  color: #333;
  position: absolute;
  font-size: 20pt;
}

img {
  height: 96px;
  max-width: 96px;
  float: right;
  z-index: -1;
}

.name {
  font-size: 12pt;
  color: white;
  text-shadow: 1px 1px 2px #333, -1px -1px 2px #333, 1px -1px 2px #333, -1px 1px 2px #333;
  float: right;
  height: 20px;
  margin-bottom: -20px;
}

.move {
  font-size: 10pt;
  clear: both;
  margin-top: -10pt;
}

.weeknum-0 {
  background-color: #555;
}

.weeknum-1 {
  background-color: #666;
}

.weeknum-2 {
  background-color: #777;
}

.weeknum-3 {
  background-color: #888;
}

.weeknum-4 {
  background-color: #999;
}

.weeknum-5 {
  background-color: #aaa;
}

.weeknum-6 {
  background-color: #bbb;
}

.hi {
  background-color: #333;
}
